<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coros de Avivamiento</title>
  <link rel="stylesheet" href="../styles/corosDeFuego.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Coros de Avivamiento</h1>
      <nav>
        <ul id="indice">
          <!-- Aquí se llenarán los títulos de las canciones con JS -->
        </ul>
        <ul>
            <a href="../index.html" class="nav_links">Volver</a>
        </ul>
      </nav>
    </header>
    <section id="contenido-cancion">
      <!-- Aquí se mostrará la canción seleccionada -->
    </section>
  </div>

  <script src="../js/corosDeFuego.js"></script>
</body>
</html>
