<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coros de Avivamiento</title>
  <link rel="stylesheet" href="../styles/corosDeFuego.css">
</head>
<body>
  <div class="sidebar">
    <nav>
      <h2>Índice</h2>
      <ul id="indice"></ul>
      <a href="../index.html" class="nav_links">Volver</a>
    </nav>
  </div>

  <div class="main-content">
    <header>
      <h1>Coros de Avivamiento</h1>
    </header>
    <section id="contenido-cancion"></section>
  </div>

  <script src="../js/corosDeFuego.js"></script>
</body>
</html>
