<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensayo</title>
    <link rel="stylesheet" href="/styles/ensayar.css">
</head>
<body>
    <header class="hero">
        <nav class="nav_container">
            <div class="nav_logo">
                <h2 class="nav_title">Carpeta de Jóvenes</h2>
            </div>

            <ul class="nav_link nav_link--menu">
                <li class="nav_items">
                    <a href="#" class="nav_links">Volver</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Descargas</a>
                </li>

                <img src="./archives/img/close.svg" alt="nav_close">
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>