<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensayo</title>
    <link rel="stylesheet" href="/styles/ensayar.css">
</head>
<body>
    <header class="hero">
        <nav class="nav_container">
            <div class="nav_logo">
                <h2 class="nav_title">Carpeta de Jóvenes</h2>
            </div>

            <ul class="nav_link nav_link--menu">
                <li class="nav_items">
                    <a href="/main.html" class="nav_links">Volver</a>
                </li>
                <li class="nav_items">
                    <a href="/Templates/descargar.html" class="nav_links">Descargas</a>
                </li>

                <img src="./archives/img/close.svg" alt="nav_close">
            </ul>
        </nav>
    </header>
    <main></main>
    <footer class="footer">
        <section class="footer_copy container">
            <div class="footer_social">
                <a href="#" class="footer_icons"><img src="/archives/img/wsp.svg" class="footer_img"></a>
                <a href="#" class="footer_icons"><img src="/archives/img/phone.svg" class="footer_img"></a>
                <a href="#" class="footer_icons"><img src="/archives/img/gmail.svg" class="footer_img"></a>
            </div>
    
            <h3 class="footer_copyright">Derechos reservados &copy; Cuerpo de Jóvenes IEP Cabrero</h3>
        </section>
        </footer>
</body>
</html>