/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f7f7f7;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto; /* Asegura que la barra lateral tenga scroll si es necesario */
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #444;
  text-align: center;
}

#indice {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 250px; /* Limita la altura del índice para que se muestre solo una parte */
  overflow-y: auto; /* Agrega scroll vertical si el contenido es largo */
}

#indice li {
  background-color: #3b48f9;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

#indice li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#indice li:hover {
  background-color: #b9962f;
}

.nav_links {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #52c3f8;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav_links:hover {
  background-color: #999;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
  margin-left: 250px; /* Deja espacio para la barra lateral */
  overflow-y: auto; /* Permite hacer scroll si el contenido es largo */
}

header h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

#contenido-cancion {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  padding: 0 20px;
}

#contenido-cancion h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  padding: 0 15px;
}

#contenido-cancion audio {
  margin: 20px;
  width: 100%;
  max-width: 600px; /* Limita el tamaño del reproductor */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contenido-cancion p {
  font-size: 20px;
  color: #555;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  padding: 0 15px; /* Asegura que el texto no toque los bordes */
}

/* Ajustes de tamaño en dispositivos móviles */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
    position: relative; /* No es necesario que esté sticky en móviles */
    height: auto; /* La barra lateral debe adaptarse al contenido */
  }

  .main-content {
    padding: 20px;
    margin-left: 0; /* No necesitamos espacio para la barra lateral en móvil */
  }

  #contenido-cancion audio {
    width: 100%;
    max-width: 100%;
  }

  #contenido-cancion p {
    padding: 0 15px;
  }
}
