@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
    --primary-color: #FFFFFF;
    --secondary-color: #FF5722;
    --bg-color: #fdfdfd;
    --text-color: #F1F1F1;
    --gray-color: #5F6368;
    --footer-bg-color: #1D293F;
    --highlight-color: #FF5722;
    --container-padding: 100px 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: auto;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: var(--text-color);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('../archives/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: linear-gradient(0deg, rgb(181, 179, 190) 0%, rgb(212, 208, 240) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

/* NAV */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que haya espacio entre título y menú */
    padding: 0 1em;
}

.nav_title {
    font-weight: 300;
}

.nav_link {
    list-style: none;
    display: flex;
    gap: 2em;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: #fff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: block;
}

.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);
}

/* Lista de PDFs */

.pdfs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.pdfs li {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.pdfs li:hover {
    background-color: #f0f0f0;
}

.pdfs li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph {
    line-height: 1.7;
}

.about_main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon {
    width: 40px;
}

/* Footer */

.footer {
    background-color: var(--footer-bg-color);
}

.footer_copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright {
    font-weight: 300;
}

.footer_icons {
    margin-bottom: 10px;
}

.footer_img {
    width: 30px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* MEDIA QUERIES */

/* Pantallas grandes (escritorio) */
@media (min-width: 800px) {
    .nav_menu {
        display: none;
    }

    .nav_link {
        display: flex;
    }

    .nav_link--menu {
        display: flex;
        position: static;
        opacity: 1;
        pointer-events: unset;
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_links {
        background-color: transparent;
    }
}

/* Pantallas medianas (tablet/móvil) */
@media (max-width: 800px) {
    .nav_link {
        display: none;
    }

    .nav_menu {
        display: block;
    }

    .nav_link--menu {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 75%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .nav_link--show {
        display: block;
        transform: translateX(0);
    }

    .nav_links {
        font-size: 1.2rem;
        padding: 10px;
        color: var(--text-color);
        height: auto;
        display: inline-block;
    }

    .nav_close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 25px;
        color: var(--highlight-color);
    }

    .nav_img {
        width: 30px;
        height: 30px;
        color: var(--highlight-color);
    }
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 600px) {
    .hero_title {
        font-size: 2rem;
    }

    .hero_paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .footer_title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .footer_submit {
        margin-right: auto;
        margin-left: 0;
    }
}
